# Data structures: lists, sets, and tuples

## Lists

Lists are sequences of comma-separated elements. Lists can contain:
* Strings: _["one", "two", "three"]_
* Numbers: _[1, 2, 3]_
* Booleans: _[True, True, False]_
* Other lists!: _[[1, 2, 3], [2, 3, 4], [3, 4, 5]]_
* A combination!: _["one", "two", 3, False, [3, 4, 5]]_

In lists, order of the elements matters. We count elements:
* From left to right.
* Starting with 0.

Lists are mutable (=changeable): items in them can be changed, added, deleted...

Lists are enclosed in square brackets.

Example:

In [ ]:
continents = ["Europe", "Africa", "Asia", "America", "Oceania", "Antarctica"]
print(continents)

In [ ]:
print(type(continents))

### Length of a list
Function `len()` returns the length of a list (how many elements it contains).

In [ ]:
# Find the length of the list:
continents = ["Europe", "Africa", "Asia", "America", "Oceania", "Antarctica"]
print(len(continents))

### Accessing list elements through index

... starting with 0!:

In [ ]:
print(continents[3])

✏️ **Exercise:**

In [ ]:
# Given the list of continents above, use the index to return "Oceania".
#
# Type your code here:

### Removing an element from a list

Removing an element from a list:

In [ ]:
# Remove first matching value:
continents = ["Europe", "Africa", "Asia", "America", "Oceania", "Antarctica"]
continents.remove("America")
print(continents)

⚠️ The `remove()` function works **in-place**, meaning that the content of the variable is directly changed.

### Adding elements to a list
Add **one** element to a list with ```.append()```. This is again an **in-place** function:

In [ ]:
continents = ["Europe", "Africa", "Asia", "Oceania", "Antarctica"]
continents.append("North America")
continents.append("South America")
print(continents)

Add **more than one** element to a list. In other words, expand a list with the contents of another list (not-in-place):

In [ ]:
continents = ["Europe", "Africa", "Asia", "Oceania", "Antarctica"]
continents = continents + ["North America", "South America"]
print(continents)

**Tip:** The following two blocks of code do exactly the same:

In [ ]:
# Block 1:
continents = ["Europe", "Africa", "Asia", "Oceania", "Antarctica"]
continents = continents + ["North America", "South America"]

# Block 2:
continents = ["Europe", "Africa", "Asia", "Oceania", "Antarctica"]
continents += ["North America", "South America"]

### Checking presence of elements in list
Check if **an element is (or is not) in list**, using the ```in``` (or ```not in```) operator:

In [ ]:
continents = ["Europe", "Africa", "Asia", "America", "Oceania", "Antarctica"]
query = "Europe"

In [ ]:
print(query in continents)

In [ ]:
if query in continents:
    print(query + " is a continent!")
else:
    print(query + " is not a continent!")

### Iterating over elements of a list
We can iterate over the elements of a list, to see and process one element at a time:

In [ ]:
continents = ["Europe", "Africa", "Asia", "North America", "South America", "Oceania", "Antarctica"]
for continent in continents:
    print(continent)

✏️ **Exercises:** Iterating over the elements of a list allows us to process them individually.

In [ ]:
# Print only continents whose name starts with an 'A'.
#
# Type your code here:

In [ ]:
# Print only continents whose name ends with an 'a'.
#
# Type your code here:

In [ ]:
# Print only continents whose name consists of two words.
#
# Type your code here:

### Sorting

Sort a list **in place** (modify the original list):

In [ ]:
continents = ["Europe", "Africa", "Asia", "North America", "South America", "Oceania", "Antarctica"]
continents.sort()
print(continents)

Sort a list **not in place** (create a new sorted list without modifying the original one):

In [ ]:
continents = ["Europe", "Africa", "Asia", "North America", "South America", "Oceania", "Antarctica"]
sorted_continents = sorted(continents)

print(continents)
print(sorted_continents)

Sort in descending order, through parameter `reverse = True`

In [ ]:
continents = ["Europe", "Africa", "Asia", "North America", "South America", "Oceania", "Antarctica"]
continents.sort(reverse = True)
print(continents)

In [ ]:
continents = ["Europe", "Africa", "Asia", "North America", "South America", "Oceania", "Antarctica"]
sorted_continents = sorted(continents, reverse = True)
print(sorted_continents)

### Updating list elements

Updating an element of the list can be done through its index.

For example, let's suppose we want to change the 6th element of the following list. We can assign a new value to it like this:

In [ ]:
continents = ["Europe", "Africa", "Asia", "North America", "South America", "Oceania", "Antarctica"]
continents[5] = "Australia"

print(continents)

## Sets

Like lists, sets are sequences of comma-separated elements. Unlike lists, sets contain only **unique elements** and are **unordered**.

Sets are enclosed in curly brackets.

In [ ]:
continents = ["Europe", "Africa", "Asia", "America", "Oceania", "Antarctica"]
print(continents)
print(type(continents))

In [ ]:
continents = {"Europe", "Africa", "Asia", "America", "Oceania", "Antarctica"}
print(continents)
print(type(continents))

**Tip:** Sets are useful to remove duplicates from lists, if you don't care about the order of the elements in the list. You usually convert the list into a set, and back to a list.

Sets can be converted from lists, and viceversa, with the following methods:

In [ ]:
convertingStructures = {2, 3, 1, 4}
convertingStructures = list(convertingStructures)
convertingStructures = set(convertingStructures)
print(convertingStructures)
print(type(convertingStructures))

✏️ **Exercise:**

In [ ]:
# Add duplicates in the `continents` list, and then convert it to a set, and
# convert it back into a list. What is the output? Try adding duplicates
# ignoring case too, what happens?
# 
# Type your code here:

## Tuples
Like lists and sets, tuples are sequences of comma-separated elements. But unlike lists and sets, they are **immutable**, and therefore you **won't be able to**:
* update values
* remove values
* add new values

Tuples are usually enclosed in parentheses: `()` (But they don't need to!)

In [ ]:
continents = ("Europe", "Africa", "Asia", "America", "Oceania", "Antarctica")
print(continents)
print(type(continents))