# Today, a Tale About Pythons and Pandas
![pandas](https://miro.medium.com/max/1400/1*6d5dw6dPhy4vBp2vRW6uzw.png)

# Introduction

### Recap
The course discussed:
- the basics of **programming** in Python 
- elementary techniques for **text processing**

"Text" came primarily as string variables or `.txt` files.

### On Today's Plate: Data Formats and Access

- In practice, text comes in many different **formats**: CSV, XML, HTML or JSON. 

- Also, different types of **access**:
    - reading content from a **local** file
    - retrieving data via an **API**
    - scraping information from the **web**.

(Don't worry if this does not make sense, we will cover these concepts in more detail soon!)

In short: today we talk about data **formats** and **access** ...
    
![img](https://media.giphy.com/media/3d5O10XObbr8LW4bDY/giphy.gif)

 ... also, we explore more realistic research scenarios using our novel computational skills!
 
 ![img](https://media.giphy.com/media/UuebWyG4pts3rboawU/giphy.gif)

# Data Classification

## (Un)structured Data

- **Data formats** indicate how data is structured (`.txt`, `.csv`, `.xml`).
- Structure relates to the degree of **organization** of information.
- Data is located on a **scale** from structured to unstructured.
- Text (or a `str` object in Python) is often referred to as "unstructured data", and is just a sequence of characters.
- Spreadsheets are considered examples of structured data (highly organised).

In [ ]:
text = 'This is not a sentence.'

✏️ **Exercises:** 
- To refresh your memory and get those fingers in the mood for typing: how many characters does the variable `text` contain? 
- How to retrieve the first (or last) element of the `text` variable?

In [ ]:
# Enter answer here

To better understand the difference between structured and unstructured information, compare the following representation of "age" and "place of birth".

In [ ]:
unstructured = 'Thomas (age 46) was born in Germany. Betsy was two years younger and grew up in the States.'
print(unstructured)

In [ ]:
import pandas as pd
structured = pd.DataFrame([['Thomas',46,'Germany'],['Betsy',44,'United States']],columns=['name','age','born'],index=[1,2])
structured


**Why is it important?**
- Degree of organisation affects how we can read, process, and store data.
- Working with text is often **difficult** as it lacks prior structure we can use for analysis or data manipulation.
- Structured information (i.e. spreadsheets) is most amenable to quantitative analysis, but it is also a very **abstract** representation of information (there is a trade-off).

## Semi-structured Data

- Data positioned on a continuous scale, i.e. does not neatly fit the structured vs. unstructured dichotomy. 
- Semi-structured information has some structural elements but is not as rigorously organized as a spreadsheet.

In [ ]:
semi_structured = """<bio><name>Thomas<\name> (age <age>46</age>) was born in <country>Germany</country>. 
    <name>Betsy</name> was <age>two years younger</age> and grew up in the <country>States</country>.</bio>"""


### Take-aways: 
- Lost in Translation?: Research at scale often involves some **transformation** of unstructured text to a (semi-)structured representation, e.g. annotations, word frequencies, emotion scores of sentences, etc. (**text-as-data**).
- The optimal representation of your data depends on your research question. (Abstraction can be risky!)


### Next:
We study different **formats** in which you will encounter text documents:
- CSV 
- XML
- JSON

# Tabular data

We first focus on working with textual data in a **tabular** format. 
- organized in rows (observations) and columns (features/attributes of these observations)
- structured data stored in a CSV format (Comma Separated Values)

Let's inspect an example: a list of [American baby names](https://www.ssa.gov/OACT/babynames/limits.html) from 1880 to 2020. We can open this `.csv` file as we have previously done.

In [ ]:
# interestingly csv file is just a text document
names_example = open('data/names_extract.csv').read(); names_example

In [ ]:
# you can check this of course if you do not believe me
type(names_example)

Even though I referred to the CSV file as structured (or tabular) it initially appears as unstructured text. 

But, as you have undoubtedly noticed, the `str` object adheres to an **implicit** pattern: 
- **rows** end with a hard return `\n`
- **cells** within rows are separated by a **comma** (or the **delimiter = ','**. This is a convention, e.g. tsv files have `\t` or tab to separate cells)

Converting such a string to a structured and machine-readable format is called **"parsing"**.

✏️ **Exercise:**: Can you write a parser function called `csv_parser` that given an input string returns a dataframe in the shape of a nested list, i.e.:
- in goes: 
```python
csv_text = 'c1,c2,c3\n1,2,3'
```

- out goes:
```python
[['c1','c2','c3'],['1','2','3']]
```

- apply csv_parser to the `names_example` variable and save it in a new variable `names_parsed`.

In [ ]:
# Write your answer here

In [ ]:
def csv_parser(input_string: str) -> list:
    """
    Argument:
        input_string (str): CSV string
    Returns:
        a nested list 
    """
    lines = input_string.split('\n')
    cells = [l.split(',') for l in lines]
    return cells

names_parsed = csv_parser(names_example)

Previous code "parsed" a text file, i.e. converted it to a structured format, in this case, a **nested list**. However, this is the most convenient way of working with tabular data.

Why? You can retrieve rows (and cells within rows), but other operations pose more problems. For example, accessing the data column-wise, i.e. gefting all names, is not trivial.

### ✏️  1. Exercises.
- How many rows does the data frame `names_parsed` contain?
- What name is recorded on the fifth row (i.e. ignoring the header)?
- Print the `sex` column as a list.
- Write a `for` loop to find the most frequent name in 1880? (**Difficult**).

In [ ]:
# write your answer here

## Pandas DataFrames

In [ ]:
# run this cell before continuing
!unzip data/names.zip -d data # unzip data
!ls data # the content

The previous examples and exercises have shown how to convert a text file to a spreadsheet-like data format. However, the nested list proved hard to work with in practice.

Luckily, there exists a library that makes working with tabular information much, much, much easier. [Pandas](https://pandas.pydata.org/) to the rescue!

![pandas](https://media.giphy.com/media/EatwJZRUIv41G/giphy.gif)

**Pandas** is a library for processing and analysing (tabular) data. Its tools are the bread and butter for doing **data science** in Python. Let's start with importing Pandas into our notebook.
- The session ventures into applied data science, and a critical aspect of "distant reading"
- Transforming text to numbers (yes there will be numbers).

In [ ]:
import pandas as pd # import pandas using pd as abbreviation
print(pd.__doc__) # import the __doc__ attribute attached to pd

Notice that using `pd` as an abbreviation for `pandas` is merely a convention and you are free to use any other (syntactically acceptable name) i.e. 
```python
import pandas as dfsfgjrelfgdjgkldsjgkdfgjdfklgjdfklgjkflskfdklfsk 
```

will work but will also make your life miserable...

## Opening a file

Given a path, Pandas will open, read and parse the CSV file and return it as a `DataFrame` object. In this case, we are loading more "serious" data, i.e. a frequency list of American baby names after 1880 till the present.

In [ ]:
# sep has ',' as default value, change this parameter to '\t' if you need to open a tsv file
df = pd.read_csv('data/names.csv', sep=',')
type(df)

As with other Python objects, the `DataFrame` comes with a specific set of **attributes** and **methods** for inspecting, analysing and manipulating information in a dataframe.

Important attributes for understanding the contours of you data are `.shape` and `.columns`.

In [ ]:
df.shape # returns the number of rows and columns as a tuple

In [ ]:
df.columns # returns the column names

In [ ]:
help(df) # heeeeelp!

## Exploring Tabular Content

In the first instance, let's explore the **content** of our dataframe.

In [ ]:
help(df.head)

In [ ]:
# head allows us to view the first n rows
df.head(4)

In [ ]:
df.tail(4)

In [ ]:
help(df.describe)

In [ ]:
df.describe()

## Sequencing methods

In [ ]:
type(df.describe())

In [ ]:
# dot notation -> read from left to right
# describe numerical values in the dataframe
# which returns a dataframe
# round the numerical values to the third decimal
df.describe().round(3)

`describe()` returns a (statistical) summary for each column that contains **numerical information** (i.e. are of type `int` or `float`). 

For example, you notice that the `name` and `sex` columns are not present in the output. When working with dataframes it is important to be aware of the **data types* (abbreviated as `dtypes`) that are present in your table. 

You can access data types under the `dtype` attribute.

In [ ]:
df.dtypes


✏️ **Question**:
- Which value is the **median** in this summary?
- Why are the median and mean so different for the `frequency` column?

In [ ]:
# type answer here

## Accessing and Selecting Content

## Why?
- Research often requires **data selection**.
- Selection criteria based on **content** and/or **metadata**.
- In this example `names` are the content, and `year` and `gender` are metadata.
- The techniques we discuss below enable you to **select** , **explore** and **compare** relevant (subsets) of texts in a pandas `DataFrame`.
    - very useful for many types of analysis!


`DataFrames` provide many useful tools for selecting information in a spreadsheet. They combine techniques you encountered earlier, such as 
- retrieving values by position:
```python 
l = ['a','b']
l[1]
```
- retrieving values by a key:
```python 
d = {'a': 1}
d['a']
```

... however, the tools for interrogating (and extracting information) from dataframes are more powerful and advanced when compared to lists or dictionaries.

More technically, a `DataFrame` is a **two dimensional array** of **indexed data**, which allows you to access content by row **and** column. Don't worry if this sounds abstract at this point! Help is on its way!

The code below shows the row and column index.

In [ ]:
df.index # row index, index is a list of numbers

In [ ]:
df.columns # column index, index is a list of names

## Retrieving information row-wise

In [ ]:
# let's make a toy dataframe
mock_df = pd.DataFrame([[1,4,6],
                        [2,3,5],
                        [0,9,6],
                        [7,8,9]], 
                       columns= ['c1','c2','c3'], 
                       index=['r1','r2','r3','r4'])
mock_df

A dataframe has an **explicit** index, which are the **row names**, i.e. "r1", "r2" etc). With `.loc` we can access rows by their explicit index (also using **slice** notation!)

In [ ]:
mock_df.loc['r2']

In [ ]:
# slice notation, notice I am not using numbers here!
mock_df.loc['r2':"r4"]

The **implicit** index is the Python-style position-wise index, which looks similar to lists and starts at 0! We can retrieve rows by their position using `.iloc`.

In [ ]:
mock_df.iloc[0]

In [ ]:
# notice that this is different to mock_df.loc['r2':"r4"]
mock_df.iloc[1:3]

For our main `df` using `iloc` or `loc` doesn't make a difference when we want to access just one specific row.

In [ ]:
df.iloc[3]

In [ ]:
df.loc[3]

However when using slice notation, `.iloc` and `.loc` do not return exactly the same.

### ✏️  2. Exercise:

 Get the first five rows with `iloc` and `loc`.

In [ ]:
# write your answer here

## Retrieving information column-wise

Both `iloc` and `loc` allow you to select data by row and column. The general syntax for `loc` is:
```python
df.loc[row_index, column_index]
```

To select the `"name"` columns, 
 - use `"name"` as column_index
 - use as colon (`:`) as row index, indicating all values from start to end (similar to lists). 
 
 In the code cell below we get the full `'name'` column (with the row index!).

In [ ]:
df.loc[:,'name']

In [ ]:
# a simpler way to retrieve a column
df['name']

As an aside, both rows and columns are instances of the `Series` class.

In [ ]:
type(df['name']), type(df.loc[3])

### ✏️  3. Exercises:

- Select the `year` column.
- Select the first ten rows of just the `year` column.

In [ ]:
# write answer here

### "Fancy" Indexing

To retrieve multiple columns, you can use so-called **'fancy' indexing** by passing column names as a list or an array.

In [ ]:
df.loc[:,['name','sex']]

In [ ]:
# or simpler
df[['sex','name']]

In [ ]:
# you can apply fancy indexing to both rows and columns!
# cool, no?!
df.loc[[3,5],['name','sex']]

In [ ]:
# you can combine multiple indexing strategies, i.e. slicing and fancy indexing
df.loc[3:5,['name','sex']]

## Masking

Another technique for selecting relevant information (which will be often useful) is called **masking**. In this scenario, 
- we define a boolean expression (i.e. one which evaluates to `True` or `False`)
- apply it to a column
- select all rows that evaluate to `True`.

Below we show how this works for selecting

In [ ]:
# first we inspect the data type
df.year.dtype

In [ ]:
# we formulate a boolean expression
year = 1899
print(f'{year} > 1900 = ', year > 1900)
print(f'{year} > 1900 = ', year < 1900)

We can apply this expression to a column, which returns a series with the boolean value for each row index.
This series we use as a **mask** for selecting rows in the dataframe.

In [ ]:
df['year'] > 1900

In Python `False` is interpreted as zero and `True` as 1. To measure how many rows match a condition we can apply `sum` to a mask.

In [ ]:
# we have 1802468 row with names after 1900
sum(df['year'] > 1900)

In [ ]:
# saving subset in a new dataframe
# note that index does not start from zero!
mask = df.year > 1900
df_after_1900 = df[mask]
df_after_1900

In [ ]:
sum(df['year'] > 1900) == df_after_1900.shape[0]

### ✏️ 4. Exercises:
- What is the output of the code excerpt below?
```python
df['year'].between(1900,1910)
```
- can you adapt to select all years between 1950 and 1960 (all names from the fifties)

In [ ]:
# type answer here

### ✏️ 5. Exercises:

- Select all rows in which the value for the variable 'sex' is equal to 'F'
- Save this in a new Python variable called `names_f`
- How many rows does the dataframe `names_f` contain?
- Repeat the same for male baby names. What is the gender balance (in terms of the number of rows in `df`, i.e. ignoring the frequency of each name.

In [ ]:
# type answer here

## Inspecting columns

Pandas provides you with multiple methods for **understanding** and **transforming** the content of a dataframe.

`.unique()` lists all the unique values in a column. It is useful for getting a sense of the range of possible values of a column.

In [ ]:
df['sex'].unique()

`.value_counts()` returns the frequency of each unique value in a column. Below, we count the name of 'male' and 'female' rows (which should give you the same results as the previous exercise on gender balance). 

Be careful with intrepretation here! Does this mean there are less female names in this dataframe?

In [ ]:
df['sex'].value_counts()

### ✏️ 6. Exercise.

- Apply `.value_counts()` to the `"year"` column. What does this actually count?

In [ ]:
# write your answer here

### ✏️ 7. Exercise.
- Which female names have the "longest runs", i.e. tend to reappear every year since 1880.

In [ ]:
# write your answer here

## Visualising information with `.plot()`

Visualisation is another strategy for better understanding your data.

In [ ]:
# this figure shows the data in sorted by the of value counts
df.year.value_counts().plot()

In [ ]:
df.year.value_counts()[-50:-30]

In [ ]:
# this one shows the data sorted by year
# again notice the sequence of methods
# you can unpack this to understand what is happening at each stage
df.year.value_counts().sort_index().plot()

Other methods allow you to compute basic statistics for columns with numerical (or boolean!) values.

In [ ]:
df.frequency.mean()

In [ ]:
df.frequency.max()

In [ ]:
df.frequency.min()

## Working with Text

Okay, but this is a session about text processing not applied data science (even though, in practice you need both!). 

In what follows we will use Pandas' string methods to explore historical trends in the history of American baby names.

Let's first have a look at the length of first names: are boys given longer names than girls?

To measure the number of characters in a string you can use `len()`.

In [ ]:
len('Mary')

We can apply `len()` to each value in the `'name'` cell.

In [ ]:
# notice that we access names via the str attribute of the column
# this returns a new series object 
df['name'].str.len()

The above operation returns the length of each name but does not store the result. We'd like to save the length of each name in our main dataframe. For this we need to create a new column in which we store the output of `df['name'].str.len()`.  

The syntax below may be confusing at first, but basically, we just store the length of each name in a column titled `'name_length'`.

In [ ]:

df['name_length'] = df['name'].str.len()

Revisiting the original dataframe `df`, you'll notice that it now contains an extra column with the length of each name.

In [ ]:
df.head()

### ✏️ 8. Exercise.

Using `.sort_values()` we can investigate the longest surnames.

Use the `help()` to print the docstring of the `.sort_values` method. Read it carefully and try to figure out how sort row by the length of the name.

In [ ]:
# type answer here

## Combining conditions

In [ ]:
# endless options
# for example all female names between 1940 and 1945
df[(df.year.between(1940,1945)) & (df.sex=='F')]

# Selection and Aggregation

By now we have enough skills to address more realistic research questions. For example, on average, are male names longer than female names (ignoring the frequency by which the names occur for now)?

- compute the length of each name in the dataframe
- for each value in sex, select all rows
- compute the mean for the 'name_length' column

We have discussed all these steps, and with minimal code you can start investigating this question.

In [ ]:
avg_m = df[df.sex=='M'].name_length.mean()
avg_f = df[df.sex=='F'].name_length.mean()
print('Mean length of male names: ',round(avg_m,3),
      '\nMean length of female names: ',round( avg_f,3))

Of course, the various plot functions allow you to look more closely at gender different for example:

In [ ]:
df[df.sex=='M'].name_length.plot(kind='density',alpha=.75) # blue line
df[df.sex=='F'].name_length.plot(kind='density',alpha=.75) # orange line

## .groupby()

Grouping and aggregating data is a common operation. Pandas even offers tailord tool  `.groupby()` to facilitate comparison of subsets in a dataframe. [Jake VanderPlas](https://jakevdp.github.io/PythonDataScienceHandbook/), who wrote an excellent introduction to Pandas, has very helpfully visualized the workflow:

![grouby](https://jakevdp.github.io/PythonDataScienceHandbook/figures/03.08-split-apply-combine.png)

Following the previous example, **keys** are the values in the `sex` columns, and **values** are the length of each name.

In [ ]:
df.groupby('sex').mean()

In [ ]:
df.groupby('sex')['name_length'].mean()

### ✏️ 9. Exercise.

Again ignoring the frequency by which names occur, are names getting longer or short over time? Plot the result as a timeline.

In [ ]:
# write your answer here

## Intermezzo: Hierarchical Index

In [ ]:
by_dec_sex = df.groupby(['year','sex'])['name_length'].mean()
by_dec_sex

In [ ]:
by_dec_sex.loc[1880:1885]

In [ ]:
# get all female names between 1880 and 1888
by_dec_sex.loc[1880:1885,'F']

In [ ]:
# you can plot the average name length by year
by_dec_sex.loc[:,'F'].plot()
by_dec_sex.loc[:,'M'].plot()

In [ ]:
# a more elegant way is to use unstack
by_dec_sex.unstack().plot()

In [ ]:
# just FYI you can apply multiple aggregations at once
df.groupby(['year','sex'])['name_length'].agg(['min','max','mean','median'])

## Trends over time

In [ ]:
df['end-n'] = df.name.str.endswith('n')

In [ ]:
df['end-n']

In [ ]:
df[df.sex=='M'].groupby('year')['end-n'].mean().plot()

## Apply and lambda functions

String method do not always suffice, in this scenario we often use `lambda` function (or a normal one of course) in combination with apply. For example, what names contain no mare than two different characters? In Python we can formulate this as a boolean expression which evaluates if the length of the set of character is small or equal than two:

In [ ]:
name = 'dddffff'
len(set(name)) <= 2

Let's turn this in function. 
Let's turn this into an 

### ✏️ 10 Exercise!

In [ ]:
# enter solution here

In Python, we like to keep the number of lines small. We could write a more concise function using `lambda`.

In [ ]:
twochars = lambda x: len(set(x)) <= 2

 Now we can use the `.apply()` method to the `name` column. The will "apply" (duh) the function we created to each value in the name columns and return a `pd.Series` object.

In [ ]:
df.name.apply(twochars)

In [ ]:
# we can use it as a mask
df[df.name.apply(twochars)]

In [ ]:
# or save the result in a new column
df['two_chars'] = df.name.apply(twochars)

In [ ]:
# and plot results over time
df[df.sex=='M'].groupby('year')['two_chars'].mean().plot()
df[df.sex=='F'].groupby('year')['two_chars'].mean().plot()

### ✏️ 11. Exercise

What about names starting with 'a' and ending with 'e'  have they become more frequent over time? Use a lambda function to answer this question!.

In [ ]:
# write solution here

## Type-token ration

In [ ]:
tt = lambda x: len(x) / x.sum()
tt_by_year_sex = df.groupby(['year','sex'])['frequency'].apply(tt)

In [ ]:
tt_by_year_sex.unstack().plot()

# Fin.