# Basic text processing

## What is a _string_?

A string is the data type that is used for dealing with text.

A string is a sequence of characters, and is always enclosed by quotation marks.

An example of string is:

In [ ]:
example_of_string = "A text is a sequence of characters."

A string does not need to make any sense. Another example of string is:

In [ ]:
example_of_string = "xt is a sequence of ch"

We can use double quotation marks, single quotation marks, or triple double quotation marks:

In [ ]:
example_of_string = "A text is a sequence of characters."

In [ ]:
example_of_string = 'A text is a sequence of characters.'

In [ ]:
example_of_string = """A text is a sequence of characters, enclosed by quotation marks!"""

If the string spans more than one line, we should use the triple double quotation marks:

In [ ]:
beginning = """When shall we three meet again
In thunder, lightning, or in rain?
When the hurlyburly's done,
When the battle's lost and won."""

In [ ]:
print(beginning)

We can check the data type of variable `beginning` using the `type()` built-in function:

In [ ]:
print(type(beginning))

## Strings and numbers

Python differentiates between numbers (mathematical objects) and strings (sequences of characters).

⚠️ **Warning**: A number in quotation marks is actually a string, and can't be used in mathematical operations. This is quite important! It's an easy mistake that even experienced programmers make, and which can have huge consequences.

Compare the following two cells. Are they numbers or strings?

In [ ]:
a = 3
b = 4

In [ ]:
c = "3"
d = "4"

✏️ **Exercises:**

In [ ]:
# Write the code to print the data type of variable `a`

In [ ]:
# Write the code to print the data type of variable `c`:

In [ ]:
# What happens if we sum variables `a` and `b`?
# Write your code here:

In [ ]:
# What happens if we sum variables `c` and `d`?
# Write your code here:

In [ ]:
# What happens if we sum variables `a` and `c`?
# Write your code here:

You can convert a number to a string using the `str()` function:

In [ ]:
a = 4
print(a)
print(type(a))

a = str(4)
print(a)
print(type(a))

We can use the `int()` and `float()` functions to convert a string into a number:

In [ ]:
a = "3"
print(a)
print(type(a))

a = int(a)
print(a)
print(type(a))

In [ ]:
a = "3.4"
print(a)
print(type(a))

a = float(a)
print(a)
print(type(a))

## Common operations on strings

In this section we will learn to manipulate strings. We will look into the following (very useful) operations:
1. Converting to upper/lower case
2. Removing white spaces (including linebreaks) as the beginning and end of string
3. Replacing one part of the string by another
4. Concatenating strings
5. Splitting strings
6. Finding the length of strings
7. Checking the beginning and ending of a string

If you want to know more on how to use them, you can read about these and other operations in the [official Python documentation](https://python-reference.readthedocs.io/en/latest/docs/str/).

#### 1. Converting to upper or lower case**

The `.lower()` and `.upper()` methods are applied to a string variable to make the string lower- or uppercase.

To use it, append it to the variable you want to convert:

In [6]:
a = "I am shouting."

print(a.upper())

I AM SHOUTING.

#### 2. Removing white spaces

The `.lstrip()`, `.rstrip()` and `strip()` methods remove white spaces at the beginning, end, and beginning and end of the string.

In [5]:
text_to_trim = "   Too many whitespaces!   "

print(text_to_trim.lstrip()) # The "l" stands for left
print(text_to_trim.rstrip()) # The "r" stands for right
print(text_to_trim.strip())

Too many whitespaces!
   Too many whitespaces!
Too many whitespaces!

#### 3. Replacing one part of the string by another

The `replace()` method can be used to replace one part of the string by another. It's appended to the variable containing the string you want to replace, and it requires two arguments at least: _arg1_ is the string to be replaced whereas _arg2_ is the string to replace the other one. For example:

In [8]:
main_string = "It was the best of times."

print(main_string.replace("best", "worst"))

It was the worst of times.

Now, if we print the value of the variable `main_string`, what happens? Try it.

In [10]:
print(main_string)

It was the best of times.

⚠️ **Warning:** in-place

✏️ **Exercises:**

In [ ]:
# Create a variable with the text "I AM NOT SHOUTING" and convert it to lower case:

# Write your code here: